<script type="text/javascript" src='/js/update.js' defer></script>
<!-- nav -->

<div class="container-fluid px-5">
  <div class="row align-items-center">
    <div class="col">
			<a href="/">
				<img src="/images/logo.png" alt="logo" class="logo">
			</a>
    </div>
    <div class="col text-end">
			<a href="./settings">
				<button type="button" class="btn top btn-light">Settings</button>
			</a>
    </div>
  </div>
</div>

{{#if crashActive}}
<div class="alert alert-danger m-2" role="alert">
  Market Crash!
</div>
{{/if}}
<!-- buttons for beers -->
<div class="Beers item-center p-2">
	<div class="row row-cols-2">
		<div class="row row-cols-3">
		<!-- one button -->

		{{#each beers as |beer|}}
		<form class="beer" action="/orders" name="beer" method="post">
			<div class="col mb-2">
				<div class="card m-3">
					<input type="hidden" name="id" value="{{beer.id}}"/>
					<button type="submit" onclick="orderBeer()">
						<div class="card-img-top" style="background-image: url('{{beer.photo}}')"></div>
					</button>
					<div class="card-body">
						<div class="row">
							<div class="col row-cols-2">
								<span class="text-start">{{beer.name}}</span>
							</div>

<script>
</script>

							<!-- <input type="hidden" name="id" value="{{beer.currentPrice}}"/> -->
							<div class="col">
								<span class="float-end price">{{beer.currentPrice}}฿</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		{{/each}}
		<!--  -->
	</div>
	<div class="container">
<div class="row summary">
		<h2>Beer Exchange</h2>
	</div>
	<div class="row summary">
		<h2>Order Items</h2>
		<p>This is the list of items ordered</p>
	</div>
	<div class="row summary">
		<h2>Order Total</h2>
		<p>This is the total cost of the order</p>
	</div>
	<div class="row summary">
		<h2>Order Buttons</h2>
		<p>Buttons to place order or clear cart</p>
	</div>
</div>
</div>
</div>
