

<nav>
	<div class="container p-3">
		<div class="row">
			<div class="col">
				<a href="./create">
					<button type="button" class="btn btn-outline-secondary">Create Beer</button>
				</a>
			</div>
			<div class="col">
				<form action="/" method="POST">
					<button class="btn btn-primary">Reset prices</button>
				</form>
			</div>
			<div class="col text-end">
				<a href="./crash" action="/beers" method="POST">
					<button type="submit" class="btn btn-outline-secondary">Market Crash</button>
				</a>
			</div>
		</div>
	</div>
</nav>
<!-- buttons for beers -->
<div class="Beers item-center p-2">
	<div class="row row-cols-3">
		<!-- one button -->
		{{#each beers as |beer|}}
		<form class="beer" action="/orders" name="beer" method="post">
			<div class="col mb-2">
				<div class="card">
					<input type="hidden" name="id" value="{{beer.id}}"/>
					<button type="submit">
						<div class="card-img-top" style="background-image: url('{{beer.photo}}')"></div>
					</button>
					<div class="card-body">
						<div class="row">
							<div class="col row-cols-2">
								<span class="text-start">{{beer.name}}</span>
							</div>
							<!-- <input type="hidden" name="id" value="{{beer.currentPrice}}"/> -->
							<div class="col">
								<span class="float-end">{{beer.currentPrice}}฿</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		{{/each}}
		<!--  -->
	</div>
</div>
