

<nav>
	<div class="container text-center pt-2">
		<div class="row row-cols-4 navBeers">
			<div class="col col-lg-2">
				<a href="./create">
					<button type="button" class="btn btn-success">Create Beer</button>
				</a>
			</div>
			<div class="col col-lg-8">
				<a href="/">
					<img src="/images/beer_logo.png" alt="logo" class="logo">
				</a>
			</div>
			<div class="col col-lg-1">
				<form action="./beers/reset/?_method=PATCH" method="POST">
					<button class="btn btn-primary">Reset prices</button>
				</form>
			</div>
			<div class="col col-lg-1">
				<form action="/beers/crash?_method=PATCH" method="POST">
					<button type="submit" class="btn btn-danger">Market Crash</button>
				</form>
			</div>
		</div>
	</div>
</nav>
<!-- buttons for beers -->
<div class="Beers item-center p-2">
	<div class="row row-cols-3">
		<!-- one button -->

		{{#each beers as |beer|}}
		<form class="beer" action="/orders" name="beer" method="post">
			<div class="col mb-2">
				<div class="card m-3">
					<input type="hidden" name="id" value="{{beer.id}}"/>
					<button type="submit" onclick="orderBeer()">
						<div class="card-img-top" style="background-image: url('{{beer.photo}}')"></div>
					</button>
					<div class="card-body">
						<div class="row">
							<div class="col row-cols-2">
								<span class="text-start">{{beer.name}}</span>
							</div>

<script>
</script>

							<!-- <input type="hidden" name="id" value="{{beer.currentPrice}}"/> -->
							<div class="col">
								<span class="float-end price">{{beer.currentPrice}}฿</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		{{/each}}
		<!--  -->
	</div>
</div>
