<!-- {{> nav}} -->

<div class="container">
	<div class="row">
		<div class="col-3 me-5">
			<h3 class="border-bottom pb-2">Profile</h3>
			<form action="/profile?_method=PATCH" method="POST">
				<label for="exampleInputPassword1" class="form-label mb-0"
					>Name</label
				>
				<input type="text" class="form-control mb-3" value="{{user.name}}" name="name"/>
				<label for="exampleInputEmail1" class="form-label mb-0"
					>Email</label
				>
				<input
					type="email"
					class="form-control mb-2 "
					id="exampleInputEmail1"
					aria-describedby="emailHelp"
					value="{{user.email}}"
					name="email"
				/>
				<label>Profile Picture</label>
				<div class="row mt-2">
					<div class="col-sm-3">
						<img
							src="{{user.avatar}}"
							class="img-fluid rounded-circle mb-2"
							alt="housepictures"
						/>
					</div>
				</div>
				<input type="text" class="form-control mb-2 " value="{{user.avatar}}" name="avatar"/>
				<label class="form-label mb-0"
					>Password</label
				>
				<input
					type="password"
					class="form-control mb-2 "
					value="{{user.password}}"
					aria-describedby="emailHelp"
					value="{{user.email}}"
					name="password"
				/>

				<button type="submit" class="btn btn-primary btn-success my-2">
					Update Profile
				</button>
			</form>
		</div>
		<div class="col-8 ps-5 ">
			<h3 class="border-bottom pb-2">My Listings</h3>
			<a href="" type="submit" class="btn btn-primary btn-success my-3">
				List a House
			</a>

			<!-- {{> profile_houses}} -->

		</div>
	</div>
</div>
