<!-- Nav -->
<nav>
	<div class="container text-center m-3 p-0">
		<div class="row row-cols-12 navBeers">
			<!-- logo -->
			<div class="col">
				<a href="./">
					<img src="https://i.pinimg.com/736x/4f/be/f3/4fbef3d62f8ddd46d70d96a2256f14d1.jpg" alt="logo" class="logo">
				</a>
			</div>
			<!-- home btn -->
			<div class="col">
				<a href="./">
					<button type="button" class="btn top btn-light p-2 mt-2">Return Home</button>
				</a>
			</div>
			<!-- create beer -->
			<div class="col">
				<a href="./create">
					<button type="button" class="btn top btn-light p-2 mt-2">Create Beer</button>
				</a>
			</div>
			<!-- reset prices btn -->
			<div class="col">
				<form action="./beers/reset/?_method=PATCH" method="POST">
					<button class="btn top btn-light p-2 mt-2">Reset prices</button>
				</form>
			</div>
			<!-- market crash btn -->
			<div class="col">
				{{#if mySettings.crashActive}}
				<form action="/beers/endcrash?_method=PATCH" method="POST">
					<button type="submit" class="btn top btn-light p-2 mt-2">End Market Crash</button>
				</form>
				{{else}}
				<form action="/beers/crash?_method=PATCH" method="POST">
					<button type="submit" class="btn top btn-light p-2 mt-2">Market Crash</button>
				</form>
				{{/if}}
			</div>
		</div>
	</div>
</nav>


<!-- Start> Form -->
<div class="container frm rounded createForm py-2 px-3">
	<!-- logo -->

	<!-- form -->
	<form action="/settings?_method=PATCH" method="POST">
		<h5 class= "mt-5">Beer Price settings</h5>
		<label class="form-label">Percentage Price drop</label>
		<div class="input-group mb-3">
      <input type="number" step="any" min="0.1" max="100" class="form-control" onkeyup="pricedrop(value)" name="priceDrop" value="{{mySettings.priceDrop}}"/>
			<small class="pricedrop">Price of beer will drop in the following increments </small>
		</div>
	<label class="form-label">Percentage price increase</label>
		<div class="input-group mb-3">
      <input type="number" step="any" min="0.1" max="100" class="form-control" onkeyup="priceincrease(value)" name="priceIncrease" value="{{mySettings.priceIncrease}}"/>
			<small class="priceincrease">Price of beer will drop in the following increments</small>
    </div>
		<label class="form-label">TBC: Price Change Interval</label>
		<div class="input-group mb-3 ">
      <input type="number" step="any" min="1" max="100" class="form-control" name="priceDropInterval" value="{{mySettings.priceDropInterval}}"/>
			<small>Determines how often the market changes in seconds </small>
    </div>

		<h5 class= "mt-5">Market crash settings</h5>
		<label class="form-label">Market Crash Active</label>
		<div class="input-group mb-3">
			<label>
      	<input readonly type="checkbox" name="active" {{#if mySettings.crashActive}} checked {{/if}}/>
				<small class="form-label">determines if there is an active market crash </small>
			</label>
    </div>
		<label class="form-label">Trending beers price drop</label>
		<div class="input-group mb-3">
      <input type="number" step="any" min="0.1" max="100"  class="form-control" onkeyup="uptrend(value)" name="upTrendDiscount" value="{{mySettings.upTrendDiscount}}"/>
			<small class="uptrend">What Percentage should trending beers drop by during a market crash </small>
    </div>
		<label class="form-label">Down trend price drop</label>
		<div class="input-group mb-3">
      <input type="number" step="any" min="0" max="100"  class="form-control" onkeyup="downtrend(value)" name="downTrendDiscount" value="{{mySettings.downTrendDiscount}}"/>
			<small class="downtrend">Enter the percentage above the minimum price to sell beers that are not trending </small>
    </div>
		<label class="form-label">Market crash duration</label>
		<div class="input-group mb-3">
      <input type="number" step="any" min="1" max="1000"  class="form-control"	name="crashDuration" value="{{mySettings.crashDuration}}"/>
			<small>Enter in minutes the duration of a market crash </small>
    </div>
		<button class="btn btn-success mt-2 mb-5">Submit</button>
	</form>
</div>
<!-- END Form -->
<footer class="foot">
	<div>

	</div>
</footer>
