<table class="table table-bordered table-striped bg-light">
  <thead>
    <tr>
      <th scope="col">Beer</th>
      <th scope="col">Price</th>
      <th scope="col">High</th>
      <th scope="col">Low</th>
			<th scope="col">Trend</th>
    </tr>
  </thead>
  <tbody>
		{{#each beers as |beer|}}
    <tr>
      <th scope="row">{{beer.name}}</th>
      <td class="price">{{beer.currentPrice}}</td>
      <td class="hprice">{{beer.highestPrice}}</td>
      <td class="lprice">{{beer.lowestPrice}}</td>
			<td class="trend"></td>
			<!-- {{#if beer.trending}}<td class="trend">UP</td>{{else}}<td class="trend">DOWN</td>{{/if}} -->
    </tr>
		{{/each}}
  </tbody>
</table>
